<div class="header-register">
  <div class="header-title">{{"appname" | translate}}</div>
</div>
<nz-layout class="app-layout">
  <nz-content class="register">
    <div class="inner-content">
      <div class="main-content">
        <div class="title-content">{{"login.register" | translate}}</div>
        <hr>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <!--账号-->
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="userName">{{"register.userName" | translate}}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="{{'placeholder.account' | translate}}" nzHasFeedback>
              <input placeholder="{{'placeholder.account' | translate}}"
                     maxlength="20" nz-input formControlName="userName" id="userName"/>
            </nz-form-control>
          </nz-form-item>
          <!--密码-->
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="userPwd">{{"register.userPwd" | translate}}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="errorPwd" nzHasFeedback>
              <nz-input-group [nzSuffix]="suffixPwd">
                <input [type]="pwdVisible ? 'text' : 'password'"
                       maxlength="16" nz-input formControlName="userPwd" id="userPwd"
                       placeholder="{{'placeholder.password' | translate}}"
                       (ngModelChange)="validList.confirmPassword()"/>
              </nz-input-group>
              <ng-template #suffixPwd>
                <i nz-icon [nzType]="pwdVisible ? 'eye-invisible' : 'eye'" class="cursor-pointer"
                   (click)="pwdVisible = !pwdVisible"></i>
              </ng-template>
              <ng-template #errorPwd let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{'placeholder.password' | translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('weakPwd')">
                  {{'placeholder.validPassword' | translate}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <!--确认密码-->
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24"
                           nzFor="confirmPwd">{{"register.confirmPwd" | translate}}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="errorConfirmPwd" nzHasFeedback>
              <nz-input-group [nzSuffix]="confirmPwd">
                <input [type]="confirmPwdVisible ? 'text' : 'password'"
                       placeholder="{{'placeholder.checkPassword' | translate}}"
                       maxlength="16" nz-input formControlName="confirmPwd" id="confirmPwd"/>
              </nz-input-group>
              <ng-template #confirmPwd>
                <i nz-icon [nzType]="confirmPwdVisible ? 'eye-invisible' : 'eye'" class="cursor-pointer"
                   (click)="confirmPwdVisible = !confirmPwdVisible"></i>
              </ng-template>
              <ng-template #errorConfirmPwd let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{'placeholder.password' | translate}}
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  {{'placeholder.checkErrorPassword' | translate}}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="userName">验证码</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="请向右滑动完成验证" nzHasFeedback>
              <input formControlName="captchaSliding" id="captchaSliding" hidden nz-input/>
              <app-slide-verify initText="向右滑动完成验证" successText="验证成功"
                                (onVerifyChecked)="validList.onVerifyChecked($event)"></app-slide-verify>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="24" [nzOffset]="0" nzErrorTip="请勾选隐私协议">
              <label nz-checkbox formControlName="agree">
                <span>我已阅读并同意接受 <a (click)="openAgreement($event)">《隐私协议》</a></span>
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="24" [nzOffset]="0">
              <button nz-button nzType="primary" [nzBlock]="true" class="submit-button">用户申请</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </nz-content>
</nz-layout>
